h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Viga", sans-serif;
}

p, span, a, li, label, button {
    font-family: "Noto Sans", sans-serif;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

textarea {
    resize: none;
}