h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Viga", sans-serif;
}

p, span, a, li, label, button {
    font-family: "Noto Sans", sans-serif;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

textarea {
    resize: none;
}

.btn-personalizado-primary {
  position: relative;
  font-family: inherit;
  font-size: 1.125rem;
  border-radius: 0.75rem;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.btn-personalizado-primary svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.btn-personalizado-primary span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.btn-personalizado-primary::before,
.btn-personalizado-primary::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btn-personalizado-primary::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn-personalizado-primary:hover::before {
  transform: translate3d(100%, 0, 0);
}

.btn-personalizado-primary:active {
  transform: scale(0.95);
}

.btn-personalizado-secondary {
 padding: 15px 25px;
 border: unset;
 border-radius: 0.75rem;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-size: 1.125rem;
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

.btn-personalizado-secondary::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.btn-personalizado-secondary:hover {
 color: #e8e8e8;
}

.btn-personalizado-secondary:hover::before {
 width: 100%;
}